<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen</title>
</head>
<%-include('partials/encabezado.html');%>
<body>
    <center>
        <form action="/examen" method="post">
        <label for="">Numero de recibo</label><br>
        <input type="number" required="true" name="NumRecibo" id="NumRecibo">
        <br>
        <label for="">Nombre</label><br>
        <input type="text" required="true" name="Nombre" id="Nombre">
        <br>
        <label for="">Domicilio</label><br>
        <input type="text" required="true" name="Domicilio" id="Domicilio">
        <br>
        
        <label for="">Tipo de servicio</label><br>
        <select name="tipo" id="tipo">
            <option value="1">Domestico</option>
            <option value="2">Comercial</option>
            <option value="3">Industrial</option>
            </select>
            <br>
            <br>
    
        <label for="">Kilowwats consumidos</label>
        <input type="number" required="true" name="Kilo" id="Kilo">
        <hr>
    
    
        <button type="submit">Calcular</button>
        <button type="reset" id="limpiar-formulario" onclick="limpiarCampos()">Limpiar</button>
    </form>
    </center>   

    <div class="container">
      <div class="row">

    <% 

let impuesto =0;
let descuento=0;
let subtotal=0;
let total=0;
let Preciof=0;
let tipo1= 1.08;
let tipo2= 2.5;
let tipo3= 3.0;
let costoki=0;
let impuesto1 =0;
let impuesto2 =0;

let impuesto3 =0;
if(Kilo!=null){
    if(tipo==1){ 
        costoKilo = parseInt(Kilo) * tipo1;
        costoki =tipo1;
        Preciof = parseInt(costoKilo);
        impuesto = parseInt(Preciof) * .16; 
        
    }else if (tipo==2){ 
        costoKilo = parseInt(Kilo) * tipo2;
        costoki =tipo2;
        Preciof =parseInt(costoKilo);
        impuesto = parseInt(Preciof) * .16; 
        
   }else{
      costoKilo = parseInt(Kilo) * tipo3;
      costoki =tipo3;
      Preciof = parseInt(costoKilo);
      impuesto = parseInt(Preciof) * .16; 
   }
   
   if(parseInt(Kilo) <= 1000){
    descuento = (Preciof + impuesto) * 0.1;
   }else if (Kilo <=1000){
    descuento = (Preciof + impuesto) * 0.2;
   }else if (Kilo <=10000){
    descuento = (Preciof + impuesto) * 0.5;
   }


   
   subtotal = Preciof;
   
   }%>
   
   
   
   <%total = subtotal + impuesto - descuento; %>

<hr>
<div class="col-md-3">
  <h3>Numero de recibo</h3>
  <p><%=numRecibo%></p>
<div class="col-md-3">
  <h3>Nombre</h3>
  <p><%=Nombre%></p>
</div>
<div class="col-md-3">
  <h3>Domicilio</h3>
  <p><%=Domicilio%></p>
</div>
<div class="col-md-3">
  <h3>Tipo de consumo</h3>
  <p><%= tipo %></p>
</div>
<div class="col-md-3">
  <h3>Kilowatts consumidos</h3>
  <p><%= Kilo %></p>
</div>
<div class="col-md-3">
  <h3>Fecha</h3>
  <p>06/03/2023</p>
</div>
<div class="col-md-3">
  <h3>Costo por Kilowatts</h3>
  <p><%= costoki %></p>
</div>
<div class="col-md-3">
  <h3>subtotal</h3>
  <p><%= subtotal %></p>
</div>
<div class="col-md-3">
  <h3>impuestos</h3>
  <p><%= impuesto %></p>
</div>
<div class="col-md-3">
  <h3>descuento</h3>
  <p><%= descuento %></p>
</div>
<div class="col-md-3">
  <h3>total</h3>
  <p><%= total %></p>
</div>


</div>
</div>

      
<script>
    function limpiarCampos() {
        document.getElementById("NumRecibo").value = "";
  document.getElementById("Nombre").value = "";
  document.getElementById("Domicilio").value = "";
  document.getElementById("tipo").selectedIndex = 0;
  document.getElementById("Kilo").value = "";
}

</script>

</body>
<%-include('partials/piePagina.html');%>
</html>

</body>
</html>