<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venta boletossssss</title>
    <title>sisi</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<%-include('partials/encabezado.html');%>
<body>
    <center>
    <form action="/pexamen" method="post">
    <label for="">Numero de boleto</label><br>
    <input type="number" required="true" name="NumBoleto" id="NumBoleto">
    <br>
    <label for="">Destino</label><br>
    <input type="text" required="true" id="Destino">
    <br>
    <label for="">Nombre del cliente</label><br>
    <input type="text" required="true" id="NombreCliente">
    <br>
    <label for="">Años cumplidos</label><br>
    <input type="number" required="true" name="edad" id="edad">
    <br>
    
    <label for="">Tipo de viaje</label><br>
    <select name="tipo" id="tipo">
        <option value="1">sencillo</option>
        <option value="2">doble</option>
        </select>
        <br>
        <br>

    <label for="">Precio</label>
    <input type="number" required="true" name="Precio" id="Precio">
    <hr>


    <button type="submit">Calcular</button>
    <button type="reset" id="limpiar-formulario" onclick="limpiarCampos()">Limpiar</button>


</form>
</center>   
<% let impuesto = 0;
let descuento = 0;
let total=0;
let subtotal =0;
let Preciof=0;
if(Precio!=null){


    if(tipo==2){ 
    
        Preciof = parseInt(Precio) * 1.80;
        impuesto = parseInt(Preciof) * .16; 
    }else{ 
       Preciof = parseInt(Precio); 
       impuesto = parseInt(Precio) * .16; 
   }
   
   
   if(edad>=60){ 
       descuento = (parseInt(Preciof) + impuesto) * .5;
      }else{ 
         descuento = 0; 
     }
   
   subtotal = Preciof;
   }%>
   
   
   
   <%total = subtotal + impuesto - descuento; %>

<hr>

<center>
<label for="subtotal">Subtotal:</label>
<input type="number" id="subtotal" name="subtotal" value="<%= subtotal %>" readonly /><br /><br />

<label for="impuesto">Impuesto (16%):</label>
<input type="number" id="impuesto" name="impuesto" value="<%= impuesto %>" readonly /><br /><br />

<label for="descuento">Descuento:</label>
<input type="number" id="descuento" name="descuento" value="<%= descuento %>" readonly /><br /><br />

<label for="total">Total a pagar:</label>
<input type="number" id="total" name="total" value="<%=total%>" readonly /><br /><br />
    
</center>   
      
<script>
    function limpiarCampos() {
  document.getElementById("NumBoleto").value = "";
  document.getElementById("Destino").value = "";
  document.getElementById("NombreCliente").value = "";
  document.getElementById("edad").value = "";
  document.getElementById("tipo").selectedIndex = 0;
  document.getElementById("Precio").value = "";
  document.getElementById("subtotal").value = "";
  document.getElementById("impuesto").value = "";
  document.getElementById("descuento").value = "";
  document.getElementById("total").value = "";
}

</script>

</body>
<%-include('partials/piePagina.html');%>
</html> -->