.center{
    text-align: center;
}
table.table{
    text-align: center;
}

header{
    background-position: left;
    padding: 50px;
    background-color: orangered;
    text-align: center;
}
body {
    background-color: blue;
  }